/****  HOMEPAGE DESIGN    ****/

#landing-page{
  width:100%;
  height:auto;
  margin:auto 0;
  z-index: -99;
  margin-top:75px;
  height: 500px;
}

#landing-page img {
  width:100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat center top;
  background-position: top-center;
  height:500px;
}

.carousel-caption{
  background-color: #000000;
  background-color:rgba(0, 0, 0, 0.30);
  left:0;
  top:0;
  bottom: 0;
  right: 0;
}

.carousel-caption h1 {
  font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif !important;
  padding-top: 50px;
  color:#fff;
  line-height: 1.2;
  font-weight: bold;
  color: #fff;
  font-size: 62px;
  font-weight: 900;
  margin-bottom: 10px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0,0,0,0.99);
}

.carousel .item {
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -ms-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 5s;
}

.carousel .active.left {
  left:0;
  opacity:0;
  z-index:5;
}

.carousel .next {
  left:0;
  opacity:1;
  z-index:1;
}

.rotate {
  color:#00af54;
  font-weight: 500;
}

.carousel-caption p {
  line-height: 1.2;
  font-weight: bold;
  padding-bottom: 30px;
  color: #fff;
  text-shadow:0 1px 2px rgba(243, 234, 234, 1);;
  font-size: 22px;
  font-weight: 300;
  font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif !important;
}

.carousel-caption span {
  padding:10px;
}

.btn-facebook {
  border-color: #3b5998;
  border-bottom-color: #263a63;
  background-color: #3b5998;
  color: #fff;
  width:100%;
  height:100%;
  padding:10px;
  border-radius: 5px;
  margin-top:10px;
}

.btn-facebook:hover{
  color:#fff;
  background:#3b5998;
  list-style-type: none;
  text-decoration: none;
}

.fa-facebook {
  padding-right:10px;
  border-right:5px #3b5998;
}

.how-it-works-btn a {
  color: #fff;
  font-size:18pt;
  width:200px;
  height:40px;
  padding:0px;
  border-radius: 5px;
}
